*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
    width: 100%;
   
}

body{
    width: 100%;
	overflow-X: hidden;
	height: 100%;
    background-color: white;
    font-family: Helvetica, Georgia, Serif;

}

.separador{
    display:block;
    width:100%;
    height:20px;
   /*  background-color: aqua;   */
}

.tramo{
     position: relative;
     width: 1px;
     height: 1px;    
     z-index: 5;    
}

#cont{
    width: 100%;
    margin: 45px auto 5px;
    box-sizing: border-box;
/*    border: 1px solid black; */
}

.contenedor{
    width: 95%;
    margin: 0px auto 0px;
    box-sizing: border-box;    
}
header{
    position: fixed;
    top:0px;
    width: 100%;
    margin: 0px auto;
    background-color:#007f00;
/*    opacity: .7;*/
/*    border: 1px solid red;*/
    box-sizing: border-box;
    z-index: 300;
}
.caja{
    position: relative;    
    width: 95%;
    margin: 0px auto;
    border: 1px solid orange;
    box-sizing: border-box;   
    
}

 h1 a{
     display: block;
     width:100%;
    color:white;
    font-family: Dancing Script, cursive ;
    text-decoration: none;
/*     border: 1px solid black;*/
     font-weight: bold;
     text-transform: uppercase;
     min-width: 200px !important;
     max-width: 200px !important;
}

header nav ul li{
        list-style: none;
}

header nav ul li a{    
        color:yellow;
        text-transform: uppercase;
        text-decoration: none;
}
.menu{
    width: 100%;
	background-color:white;
	position: fixed;
    height: 100%;
	left: 100%;
	top: 39px;
	transition: all .5s;
	visibility: hidden;
	z-index: 100;    
    text-align: center;
    padding-top:90px;
}
.menu>li {
	list-style: none;
	padding: 15px 0px 15px 0px;
	margin-left:10px;
	margin-right:10px;
	border-bottom:1px solid #007f00;
}
.menu>li:last-child {	border-bottom:none;}
.menu a {
	text-decoration: none;
	font-size: 20px;
	color: #007f00;
}
.menu ul li {	margin-left:20px;}
.menu ul li a {	color:white;}
.menu li:hover a{
     opacity: .8;
}
.menu li .act{
    color: white;
}
.menu-click {
  position: fixed;
	left: 0%;
    height: 100%;
    background-color:white;
	transition: all .5s;
	visibility: visible;
	z-index: 200 !important;
}

/*  ---------------------INICIO DEL BURGUER ------------------------------- */
.burguer {
	width: 25px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	right: 20px;
	top: 7px;
    z-index:250;
}
.burguer span {
	display: block;
	width: 100%;
	height: 4px;
	background: white;
	position: absolute;
	transition: all 0.3s, linear;
}
.burguer span:nth-child(1) {
	top: 0%;
	margin-top: 1px;
}
.burguer span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%)
}
.burguer span:nth-child(3) {
	top: 100%;
	margin-top: -4px;
}

.burguer-click span {
	background: white;
	transition: all 0.3s, linear;
	height: 4px;
}
.burguer-click span:nth-child(1) {
	top: 50%;
	transform: rotate(-45deg);
	margin-top: -1px;
}
.burguer-click span:nth-child(2) {
	opacity: 0;
	visibility: hidden;
}
.burguer-click span:nth-child(3) {
	top: 50%;
	margin-top: -1px;
	transform: rotate(-135deg);
}
/* --------------------------- FIN DEL BURGUER --------------------------------- */

/*  ---------------------INICIO DEL SLIDER ------------------------------- */

#contSlider {	
	position: relative;
    top: 0px;
    left: 0px;
	padding-top:45%;
	width: 100%;
	margin:20px auto  ;   
    background-color: white;    
/*    border: 1px solid red;*/
    box-sizing:border-box;
}


#slider {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;

}
#slider figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}
#slider figure img{
	display:block;
	width:100%;
	height:100%;
}
#slider figure figcaption{
	position:absolute;
	bottom:	40%;
	left:50%;
	transform:translateX(-50%);
	font-size:22px;
	color:white;
	font-weight:bold;
}



#pager {
	position: absolute;
	bottom: -100px;
	left: 50%;
	transform:translateX(-50%);
	width: 100%;	
	z-index: 20;
	text-align: center;
	font-size: 0;
	overflow: hidden;	
    display: none;
    padding: 5px 0px;
   
}

  /*  XXXXXXXXXXXXX  FOTOS PEQUEÑAS XXXXXXXXX  */

.punto {	
	display: inline-block;
	border-radius: 50%;		
	cursor: pointer;
	opacity:0.6;
	margin-right: 20px;
/*	width:15%;*/
    width:10px;
    height: 10px;
    border: 2px solid white;
    z-index: 100;
}

.punto img {
	display: block;	
	width: 100%;
	height: auto;

}

#pager .punto:hover {
	
	opacity:1;
}
.actual {
	
	opacity:1;
}


#next {
	position:absolute;
	top: 50%;
	right: 0;
	transform:translateY(-50%);
	visibility: visible;
	opacity: 0.5;
	background: rgba(221,215,215,1.00)  url(../img/arrows_white_new3.png) no-repeat center right;   
    width: 40px;
    height: 45px;
}
#contSlider .btn:hover#next{		
	background:rgba(221,215,215,0.5) url(../img/arrows_white_new3.png) no-repeat center right;
	opacity:1;
}
#prev {	
	top: 50%;
	left: 0;
	transform:translateY(-50%);
	opacity: 0.5;
	background:rgba(221,215,215,1.00) url(../img/arrows_white_new3.png) no-repeat center left;	
     width: 40px;
    height: 45px;
}
#contSlider .btn:hover#prev{	
	background:rgba(221,215,215,0.5) url(../img/arrows_white_new3.png) no-repeat center left;
	opacity:1;
}
.btn {
	width: 50px;
	height: 65px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	display:none;
}
#contSlider:hover .btn{
	display:block;
}
/* --------------------------- FIN DEL SLIDER --------------------------------- */
 footer{
         background-color: #007f00;
/*         opacity: .7;*/
         color: white;
         padding: 40px 0px;
     }
footer ul li a{    
         
         list-style: none;
         color: red;
}

footer ul li{    
         
         list-style: none;
         color: red;
}


#flecha{
    position: fixed;
    bottom: 30px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 50;
    border-radius: 50%;
}
#flecha img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}
#flecha:hover{
border: 1px solid white;
}

h2{
    color: #007f00;
    font-size: 30px;
    text-align: center;
    margin: 25px auto 45px;
/*     border: 1px solid orange; */
     text-transform: uppercase;
    
  
}
#quienesomos img{
    display: block;
    width: 100%;
    border: 1px solid red;
}
#quienesomos p{
    display: block;
    width: 100%;
}
.caja img{
    display: block;
    width:100%;
}
/*---------------------------   SECTION SLIDER ------------------------*/

/*---------------------------   SLIDER_PRODUCTOS_1- ------------------------*/

section{
    text-align: center;
/*
    border: 2px dashed  red;
    box-sizing: border-box;
*/
    margin: 30px 0px;
}
section .sectionTexto{
    position: relative;
    top: 0px;
    left: 0px;
/*    border: 2px dashed  blue;*/
    
}
section .sectionSlider{    
    position: relative;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
/*
    padding:  3px;
    background-color: aqua;    
    box-sizing: border-box;
*/
}
#sliderSection1, #sliderSection2, #sliderSection3, #sliderSection4 {	
	position: relative;
    top: 0;
    left: 0;
	width: 100%; 
    height: 100%;
    padding: 75% 3px 3px;
}

#sliderSection1 img, #sliderSection2 img,#sliderSection3 img, #sliderSection4 img{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
}

#sliderSection1 img:first-child, #sliderSection2 img:first-child, #sliderSection3 img:first-child, #sliderSection4 img:first-child {
		display: block;
}


#prev1, #prev2, #prev3 ,#prev4 {
    position: absolute;
	top: 50%;
	left: 10px;
	transform:translateY(-50%);
	opacity: 0.5;
	background:rgba(221,215,215,1.00) url(../img/arrows_white_new3.png) no-repeat center left;	
     width: 45px;
     height: 45px;
/*    border: 1px solid transparent;*/
    border-radius: 50%;
}
#prev1:hover,#prev2:hover,#prev3:hover,#prev4:hover{
    opacity: 1;
    border: 2px solid white;
}
#next1, #next2,#next3,#next4 {
	position:absolute;
	top: 50%;
	right: 10px;
	transform:translateY(-50%);
	visibility: visible;
	opacity: 0.5;
	background: rgba(221,215,215,1.00)  url(../img/arrows_white_new3.png) no-repeat center right;   
    width: 45px;
    height: 45px;    
    border-radius: 50%;
}
#next1:hover,#next2:hover,#next3:hover,#next4:hover{
    opacity: 1;
    border: 2px solid white;
}



 /* XXXXXXXXXXXXXXXXXXXXXXXXX  PRIMERA MEDIA SCREEN XXXXXXXXXXXXXXXXXXXXX*/
 @media screen and (min-width:500px) {
     
     h1{
         color:aqua;
     }
     h2{
            
            margin: 25px auto 45px;
/*          border: 1px solid blue; */
        }
     #cont{
        width: 90%;
        margin: 55px auto 5px;
        
     }
     .contenedor{
        width: 90%;
        margin: 0px auto 0px;
        box-sizing: border-box;    
    }
      .caja{
            width: 100%;
            
         }
     
     /*BURGUER */
      .burguer {     
            right: 8%;
            
      }
    
     
}


/* XXXXXXXXXXXXXXXXXXXXXXXXX    SEGUNDA MEDIA SCREEN XXXXXXXXXXXXXXXXXXXXX*/
 @media screen and (min-width:850px) {
/*
     body{
         background-color:red;
     }
*/
         h1{
             display:inline-block; 
             color:orange;
/*             border: 1px solid red;*/
             box-sizing: border-box;
             width: 18%;
             vertical-align: middle;
         }
          h2{
            
            margin: 35px auto 55px;
/*            border: 1px solid red;  */
        }
         .tramo{
             z-index:10;
         }

     .prueba{
         position: fixed;
         top: 0px;
         width: 100%;
         background-color:#007F00;
         z-index: 50; 
/*        opacity: .9;*/
          transition: all 0.3s;
        
     }
    .prueba .menu li a{
          color:white !important;
     }
     .prueba h1 a{
      color:white;
     }
     .separador{
            display:block;
            width:100%;
            height:115px;
/*
            background-color: pink;
            border: 1px solid blue;
*/
     }
     #cont{
             width: 80%;
             margin: 5px auto 5px;
     }
     .contenedor{
            width: 80%;
            margin: 0px auto 0px;
            box-sizing: border-box;    
       }
     header{         
        position: relative ;
         width: 100%;
/*         border: 1px solid black;*/
         font-size: 0px;
        background-color: white;
         height: 70px;
         padding-top: 15px;
         box-sizing:border-box;
         z-index: 100;
/*         border-bottom: 1px solid #007f00;*/
 
     }
     header h1{
         font-size: 30px;
          width: 24%;
         font-family: Dancing Script, cursive ;
         text-decoration: none;
/*         border: 1px solid red;*/
         
     }
     header h1 a{
         color: #007f00;
     }
        nav{        
             display:inline-block;        
             text-align:right !important;
/*             border: 1px solid red;*/
             box-sizing: border-box;
             width: 76%;
             vertical-align: middle;
             font-size: 0px;            
        }

         .menu {    
               background-color:transparent;
               position:static;
               display:block;
               width: 100%;
               visibility:visible;
               text-align:right !important;
/*               float: right;*/
             padding-top:0px;
        }
        .menu li{
               display: inline-block;
               border-bottom:1px solid transparent;
               font-size: 0px;
         } 
    
         .menu li a{             
             color:#007f00;
             font-weight: bold;
/*             background-color: aqua;*/
             padding: 5px;
         }
         .menu li .color{
            
             background-color: orange;
/*              opacity: .7;*/
            
         }
         .menu li:hover a{
              
              opacity: .8;

         }
                         
          .menu>li {
                list-style: none;
                padding: 5px;
                margin-left:0px;
                margin-right:0px;
                border-bottom:0px solid rgba(204,204,204,0.2);
           }
          .menu>li:last-child {	
                 margin-right:0px;
                 padding: 5px 0px 5px 5px;
             }

         .burguer{
             display: none;

         }
     /*-----------------------------------------------------------------------------------------------*/
      


       #contSlider {		
                padding-top:55%;
                width: 100%;
                margin-bottom: 10px;
                margin:0px auto 20px ;  
        }
     
       #prev{
            width:55px;
            height:55px;
        }
       #next{
            width:55px;
            height:55px;	
        }     
       #pager {
	
             display: block;
/*             background-color: white;*/
             background-color: transparent;
             margin:20px 0px 0px 0px;
             position: absolute;
             bottom: 50px;

        /*  XXXXXXXXXXXXX  FOTOS PEQUEÑAS XXXXXXXXX  */
       }
    
     
     #quienesomos img{
        display: inline-block;
        width: 49%;
        border: 1px solid blue;
        vertical-align: middle;
        box-sizing: border-box;
    }
    #quienesomos p{
       display: inline-block;
        width: 50%;
        border: 1px solid red;
        vertical-align: middle;
         box-sizing: border-box;
    }
       
     #flecha{    
        width: 50px;
        height: 50px;
    }
     
     section .sectionTexto-impar{
         width:49%;
         float: left;
         
     }
     section .sectionSlider-impar{
         width:49%;
         float: right;
         
     }
     section .sectionTexto-par{
         width:49%;
         float: right;
         
     }
     section .sectionSlider-par{
         width:49%;
         float: left;
         
         
     }
     section:after{
         content: "";
         display: block;
         width:100%;
         clear: both;
     }
     
}


@media screen and (min-width:1000px) {
/*
       body{
         background-color:aqua;
     }
*/
       header h1{
         font-size: 32px;         
         
     }
    .menu>li {

        margin-left: 10px;
        margin-right: 10px;

    }
}
